/*BODY & HTML*/
:root {
    --red: #E6563B;
    --yellow: #DEA03D;
    --green: #7CB06C;
    --blue: #00ABA9;
    --white: #f0f0f0;
    --gray: #E6E6E6;
    --dark-gray: rgb(111, 113, 114);
    --black: #000000;
}

body {
    background-color: var(--gray);
}

wrapper {
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton', sans-serif;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2.5rem;
}
h4 {
    font-size: 2rem;
}
h5 {
    font-size: 1.75rem;
}
/*h6 {*/
/*    font-size: 1.25rem;*/
/*}*/

body {
    font-family: 'Abel', sans-serif;
}
a {
    font-family: 'Abel', sans-serif;
}

/*COLORS*/
.nav-background {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 37px;
    height: 59px;
    width: 100%;
    z-index: -5;
}


.red { background-color: var(--red);}
.yellow { background-color: var(--yellow);}
.green { background-color: var(--green);}
.blue { background-color: var(--blue);}


/*COMPONENTS*/
.circle {
    height: 105px;
    width: 105px;
    border: 10px solid var(--white);
    border-radius: 50%;

    color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;
}

.circle h6 {
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
}

.small-circle {
    height: 18px;
    width: 18px;
    border-radius: 50%;

    text-decoration: none;
    color: var(--black);

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
}

/*IMAGES*/
.apples-img {
    background-image: url("../img/apple-ipad.jpg");
    height: 440px;
    width: 600px;
    border: 10px solid var(--dark-gray);

}
.man-img {
    background-image: url("../img/man.jpg");
    height: 440px;
    width: 600px;
    border: 10px solid var(--dark-gray);
}
.mac-img {
    background-image: url("../img/macbook.jpg");
    height: 440px;
    width: 600px;
    border: 10px solid var(--dark-gray);
}
.security-img {
    background-image: url("../img/security.jpg");
    height: 440px;
    width: 600px;
    border: 10px solid var(--dark-gray);
}